body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    height: 100vh;
    box-sizing: border-box;
    background-color: #F0EBCC;
}
p{
    text-align: center;
}
#number{
    border: hidden;
    background-color: transparent;
    border-bottom: 2px solid #04009A;
    width: 50px;
    height: 20px;
    outline: none;
}
#number:focus{
    border-bottom: 2px solid #3EDBF0;
}
.border{
    border: 2px solid red;
}
.pagewrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #3EDBF0;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}
input[type="button"]{
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 17px;
    color: white;
    background-color: #3EDBF0;
    border: 1px solid #04009A;
}
input[type="button"]:hover{
    cursor: pointer;
}
h1{
    color: #04009A;
    margin: 0;
    margin-right: 10px;
}
.display{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    margin: 10px 0;
}
.hello{
    display: none;
    color: red;
}
#right{
    color: green;
}
.no5{
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.josh{
    --animate-repeat: 4;
    --animate-duration: 1s;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 10px;
}
.transparent{
    color: transparent !important;
}
.canyou{
    border: 2px solid #04009A;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #77ACF1;
}
a{
    margin: 0 5px;
    text-decoration: none;
    color: white;
}
.none{
    display: none;
    color: #04009A;
}
button{
    border-radius: 5px;
    background-color: #3EDBF0;
    border: 1px solid #04009A;
    padding: 5px;
    color: white;
    outline: none;
}
button:hover{
    cursor: pointer;
}

@media screen and (max-width:425px) and (min-width:320px){
    .pagewrapper{
        width: 90%;
    }
    .no5{
        font-size: 20px;
    }
    .canyou{
        border: 1px solid black;
        padding: 5px;
        font-size: 10px;
        border-radius: 5px;
        background-color: #77ACF1;
    }
    h1{
        padding: 0;
        font-size: 15px;
        margin-right: 10px;
        width: 100px;
        white-space: nowrap;
        
    }
    #number{
        border-bottom: 1px solid #3EDBF0;
        width: 20px;
        height: 20px;
    }
    input[type="button"]{
        width: 30%;
        padding: 10px;
        border-radius: 5px;
        margin: 5px auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
    }
    .hello{
        font-size: 10px;
    }
    .none{
        font-size: 10px;
    }
    button{
        font-size: 10px;
        border-radius: 2px;
        padding: 2px;
    }
}